<div class="container">
  <div class="row">

    <div class="block_autos" *ngIf="models.length">

      <form class="form-inline">
        <input class="form-control"
               [(ngModel)]="nameOfModel"
               name="nameModel"
               type="text"
               placeholder="Search Model..."
               aria-label="Search"
               (keyup)="searchModel()">
      </form>

      <div class="block" *ngFor="let model of filtersModels">
        <h2>{{model.name}}</h2>
        <div class="block_info">
          <div class="block_description">
            <p><b>Description</b>Lorem ipsum dolor sit amet, eam ferri debitis liberavisse ei. Vix ei fabellas
              gubergren. No
              eos tritani ocurreret euripidis. His illud lorem id. In vel harum homero. Nec ne graeci delicata, ea
              soleat
              pericula nec. Nibh sanctus nominati qui id, qui no simul nusquam, vide
              petentium at mei. Id tritani adipiscing constituam vel.</p>
          </div>
          <div class="block_image">
            <img src="https://dummyimage.com/300x200/1d8499/d6c122.png&text=AUTO.RIA"
                 alt='photo_{{model.name}}'>
          </div>
        </div>

        <button type="button" class="btn btn-primary"
                (click)="getAveragePrice(model.model_id, model.marka_id, model.name)">
          Show average price
        </button>

        <app-dialog [(visible)]="showDialog">
          <h3 *ngIf="!averagePrice">Sorry! Information absent</h3>
          <h3 *ngIf="averagePrice">Avarege price of {{modelName}} is {{averagePrice | currency }}</h3>
          <button (click)="showDialog = !showDialog" class="btn">Close</button>
        </app-dialog>

      </div>

    </div>
    <div class="block_autos" *ngIf="!models.length">
      <h1>None data</h1>
    </div>
  </div>
</div>
